body > #home {
  .top_note {
    text-align: center;

    h1 {
      font-size: 3em;
    }

    .content {
      font-size: 1.3em;
    }

    a {
      color: #dc8100;
      text-decoration: none;
    }

    a:hover {
      color: #333;
      text-decoration: none;
    }
  }

  .rank {
    margin: 1em auto;
    overflow: auto;

    table {
      table-layout: fixed;
      width: 100%;
      min-width: 1100px;
      max-width: 100%;
    }

    a {
      text-decoration: none;
    }

    tr.title {
      background-color: #eee;
    }

    tr:hover {
      background-color: #eee;
    }

    td {
      padding: 8px;
      line-height: 1em;
      vertical-align: top;
      border-top: 1px solid #ddd;
      overflow: hidden;
    }

    .updated_at {
      text-align: center;
      margin-top: 1em;
    }

    .note {
      font-size: 0.8em;
    }
  }
}
